{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Edit Invoice{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow-sm">
                <div class="card-header bg-warning text-dark">
                    <h3 class="mb-0">Edit Invoice</h3>
                </div>
                <div class="card-body p-4">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    
                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-warning btn-lg">Update Invoice</button>
                        <a href="{{ path('app_facturation_index') }}" class="btn btn-secondary">Cancel</a>
                    </div>
                    
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="mt-3 text-center">
                {{ include('facturation/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
